@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4">
            <h1>.NET 6 AOT</h1>
            <NavLink href="/">Excel</NavLink>
            <NavLink href="/primes">Primes</NavLink>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
